:root {
    --primary-color: #3455c1;
    --secondary-color: #b4c18b;
    --accent1-color: #1a3377;
    --accent2-color: #dbab3d;
    --heading-font: "Comic Sans MS", Arial, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

h2 {
    padding: 10px;
    text-align: center;
    color: white;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: black;
}

footer {
    border-top: 1px solid rgb(0 0 0 / 0.4)
}

/* Class Selectors */

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 100px;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article p {
    margin: 8px;
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}