:root {
    --primary-color: #3439c1;
    --secondary-color: #26145f;
    --accent1-color: #251a77;
    --heading-font: "Comic Sans MS", Arial, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 10% 70%;
    background-color: var(--secondary-color);
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
}

header img {
    width: 100px;
    height: auto;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    background-color: var(--accent1-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

h1, h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--accent1-color);
}

h2 {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: black;
}

section {
    background-color: var(--secondary-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent1-color);
    border-top: 1px solid rgb(0 0 0 / 0.4);
}

footer p {
    color: white;
    font-size: 1.2rem;
}

/* Class Selectors */

.socialmedia {
    display: flex;
    justify-content: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 40%;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article p {
    margin: 8px;
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

/* ID Selectors */

#history-panel {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 0fr 1fr;
    justify-content: center;
    align-items: center;
}

#history-panel p {
    grid-row: 2/2;
    color: white;
    margin: 0;
}

#history-panel img {
    width: 100%;
    height: auto;
    grid-row: 2/2;
    grid-column: 2/3;
}

#adventure-panel {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin: 8px 10px 0 10px;
    grid-template-columns: repeat(5, 1fr);
}

#adventure-panel img {
    width: 100%;
    height: auto;
}

#adventure-panel figcaption {
    text-align: center;
    color: white;
}