* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #333;
    background-color: white;
}

header {
    width: 650px;
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: left;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: navy;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

code {
    margin: 0 auto;
    background-color: #333;
    color: white;
    padding: 1em;
}

button {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

/* Class Selectors */

.form-item {
    display: grid;
    align-items: left;
    gap: 0.5em;
    padding-bottom: 0.5em;
}