table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
    border: 2px solid lightgray;
    border-spacing: 0px;
}

th, td {
    padding: 10px;
    margin: 100px;
    border: 1px solid lightgray;
}

thead th, tfoot tr {
    background-color: black;
    font-weight: 700;
    color: white;
}