.callout {
	max-width: 480px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: darkcyan;
    color: white;
}

.callout img {
    float: right;
    margin: 5px;
    border: 1px solid black;
    padding: 4px;
    background-color: lightgray;
    width: 130px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 5px;
    text-align: right;
    font-size: 17px;
}